.profileOverview-container{
    overflow-y: scroll;
    height:calc(100vh - 300px);
    width:80vw;
}

.profileOverview-profile-img-card{
    width:100px;
    height:100px;
    background-color:pink;
    border-radius:50%;
    box-shadow:0 0 5px rgba(0,0,0,.5)
  }

.profileOverview-company-logo-cont{
    width:50px;
    height:50px;
    background-color:pink;
    border-radius: 5px;
}

.profileOverview-skills-chip{
    background-color: #020617;
    padding:8px 10px;
    border-radius: 5px;
}
@media (max-width: 600px) {
    .profileOverview-container{
        width:100vw;
    }
  }