
.navbar-inner-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  z-index:100;
}

.navbar-outer-container {
  height: 60px;
  /* background-color: #fef7e5; */
  position: relative;
}

.logo {
}

.navbar-menu-icon {
  display: none;
}

.navbar-elements {
}

.navbar-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navbar-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.navbar-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #8094ae;
  text-decoration: none;
}

.navbar-elements ul a:active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.navbar-elements ul a:active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}


@media (max-width: 768px) {
  .navbar-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .navbar-menu-icon {
    display: block;
    cursor: pointer;
  }

  .navbar-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fef7e5;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .navbar-elements.active {
    width: 270px;
    z-index:100;
  }

  .navbar-elements ul {
    display: flex;
    flex-direction: column;
  }

  .navbar-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}
