
.textInput-container .MuiInputBase-input{
    padding: 10px 8px !important;
    caret-color: #dbdfea !important;
    color:white !important;
}

.textInput-container .MuiOutlinedInput-notchedOutline{
    border: 2px solid #dbdfea !important;
}