/* margin left classes starts */
.ml-70{
    margin-left:70px !important;
}
/* margin left classes ends */

/* margin top classes starts */
.mt-30 {
    margin-top:30px !important;
}
.mt-100{
    margin-top:100px !important;
}
/* margin top classes ends */