
/* text fonts classes starts */
.font_12_400{
    font-size: 12px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 20px;
}

.font_14_400{
    font-size: 14px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 20px;
}

.font_14_600{
    font-size: 14px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 20px;
}

.font_16_600{
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 20px;
}
.font_24_600{
    font-size: 24px;
    font-weight: 600px;
    line-height: 22px;
    font-family: "Poppins", sans-serif;
}
/* text fonts classes ends */



/* border classes starts*/
.border-ef{
    border:1px solid #efefef;
}
/* border classes ends */

/* border radius classes  */
.br-10px{
border-radius: 10px;
}
/* border radius classes */

/* background color classes starts */
.bg-76{
    background-color: #76dddd;
}
/* background color classes ends */


/* width classes starts */
.w-100{
    width:100% !important;
}
/* width classes ends */


/* padding left classes starts */
.pl-30{
    padding-left: 30px !important;
}
/* padding left classes ends */


/* padding top classes starts */
.pt-30{
    padding-top:30px !important;
}
/* padding top classes ends */



/* padding right classes starts */
.pr-10{
    padding-right: 30px !important;
}
.pr-20{
    padding-right: 30px !important;
}
.pr-30{
    padding-right: 30px !important;
}
/* padding right classes ends */


/* padding bottom classes starts */
.pb-30{
    padding-bottom: 30px !important;
}
/* padding bottom classes ends */


/* margin left classes starts */
.ml-10{
    margin-left:20px !important;
}
.ml-20{
    margin-left:20px !important;
}

.ml-70{
    margin-left:70px !important;
}
/* margin left classes ends */


/* margin top classes starts */
.mt-10 {
    margin-top:10px !important;
}

.mt-20 {
    margin-top:20px !important;
}

.mt-30 {
    margin-top:30px !important;
}

.mt-50{
    margin-top:50px !important;
}
.mt-100{
    margin-top:100px !important;
}
/* margin top classes ends */


/* margin bottom classes starts */
.mb-30{
    margin-bottom: 30px !important;
}

/* margin bottom classes ends */